* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: orange;
}

.user-choice {
    box-sizing: border-box;
    height: 400px;
    width: 550px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

img {
    height: 150px;
    width: 180px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.img {
    margin: 35px;
    border-radius: 50px;
    text-align: center;
    border: 3px solid whitesmoke;
    font-size: large;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

.img:hover {
    border: 3px solid black;
}

#result {
    font-size: large;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 680px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
    }
     h1{
        font-size: 25px;
        font-weight: 700;
     }
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: orange;
    }

    .user-choice {
        width: 250px;
        font-size: 8px;
        font-weight: 700;
    }
    img{
     height: 150px;
     width: 110px;
     border-radius: 15px;
    }
    .img{
        height: 180px;
        width: 120px;
        margin: 10px;
        border-radius: 15px;
       }
}